fail_fast: true
repos:
  - repo: local
    hooks:
      - id: check-filenames
        name: Check Python Filenames
        entry: python ./.pre-commit/check_filename.py
        language: python
        files: \.py$

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy

 # - repo: https://github.com/pre-commit/pre-commit-hooks
 #   rev: v4.0.1
 #   hooks:
 #     - id: trailing-whitespace
 #     - id: end-of-file-fixer
 #     - id: check-yaml
 #     - id: check-added-large-files
